<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name = ".LapTrackerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LapTracker"
        tools:targetApi="31">
        <activity
            android:name=".old.Feature14"
            android:exported="false"
            android:label="Feature14"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature13"
            android:exported="false"
            android:label="Feature13"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature12"
            android:exported="false"
            android:label="Feature12"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature11"
            android:exported="false"
            android:label="Feature11"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature10"
            android:exported="false"
            android:label="Feature10"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature9"
            android:exported="false"
            android:label="Feature9"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature8"
            android:exported="false"
            android:label="Feature8"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature7"
            android:exported="false"
            android:label="Feature7"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature6"
            android:exported="false"
            android:label="Feature6"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature5"
            android:exported="false"
            android:label="Feature5"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature4"
            android:exported="false"
            android:label="Featur4"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature3"
            android:exported="false"
            android:label="Feature3"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature2"
            android:exported="false"
            android:label="Feature2"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".old.Feature1"
            android:exported="false"
            android:label="Feature1"
            android:theme="@style/Theme.LapTracker" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.LapTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${API_KEY}"/>
    </application>

</manifest>
